// ==========================================:
.enter-value {
	img {
		width: auto;
	}
	&__text {
		padding: 7px 0 8px;
	}
}

.create-offer {
	.qr-code {
		align-items: flex-start;
	}
}
.address-copy-wrapper {
	background-color: #fcfcfc;
	padding: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #03bc70;
}

.select {
	&__drop-link {
		width: 100%;
	}
}

.qr-code {
	&__main--gap {
		padding-top: 16px;
	}
}
