.user-data__td-desc--not-verify.kyc {
	text-transform: uppercase;
	color: #f44336;
}
.user-data__td-desc--pending.kyc {
	text-transform: uppercase;
	color: #f4c136;
}
.user-data__td-desc--verify.kyc {
	text-transform: uppercase;
	color: #009a5b;
}

.kyc-ios-btn-link {
	text-align: center;
}
