// ==========================================:
.table-body.spot-recent-trades__table {
	height: 600px;
}

.user-trades-wrapper {
	height: 500px;
}

.user-trades-wrapper.user-trades-wrapper--small {
	height: 250px;
}

.spot-recent-trades__table--item-tr {
	cursor: pointer;
}
